html {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0;
    margin-bottom: 100vh;
    width: 100%;
}

.sideBar {
    background-color: #FFC89F;
    display: flex;
    flex-direction: column;
    line-height: 1vw;
    justify-content: center;
    flex-grow: 1;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.nameBox {
    display: flex;
    flex-direction: column;
    font-size: 1.6vw;
    width: 90%;
    background-color: #FFC89F;
    padding: 1.8vw;
    -webkit-animation: fadein 3.3s;
    -moz-animation: fadein 3.3s;
    -ms-animation: fadein 3.3s;
    -o-animation: fadein 3.3s;
    animation: fadein 3.3s;
}
.skillsSection {
    width: 100%;
}

.skillsBox {
    font-size: 4vw;
    display: flex;
    justify-content: space-evenly;
    margin: 3vh auto;
    /* margin-bottom: 10vh; */
}


.imgWrap {
    width: 80%;
    margin: 7vh auto;

}

p {
    font-size: 2.2vh;
    line-height: 4vh;
}

.publicImgLimited {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: rgb(33, 33, 33);
    transition: 0.3s ease-in-out;
}

a:hover {
    color: #ffa29f;
    transform: scale(1.3)
}

.socialIcons {
    font-size: 2.5vw;
    padding-left: 1.8vw;
    -webkit-animation: fadein 3.3s;
    -moz-animation: fadein 3.3s;
    -ms-animation: fadein 3.3s;
    -o-animation: fadein 3.3s;
    animation: fadein 3.3s;
}

.indent {
    align-self: center;
}

.mainBox {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.greeting {
    /* padding-left: -1vw; */
}

.downArrow {
    font-size: 3vw;
}

.innerContent {
    width: 80%;
    height: auto;
    margin: 0 auto 20vh auto;
    overflow: visible;
}

.bigEmptyDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 46vh;
    padding-bottom: 90vh;
    -webkit-animation: fadein 3.3s;
    -moz-animation: fadein 3.3s;
    -ms-animation: fadein 3.3s;
    -o-animation: fadein 3.3s;
    animation: fadein 3.3s;

}

.contentBox {
    display: flex;
    background-color: rgba(255, 200, 159, 0.18);
    flex-direction: column;
    font-size: 1.5vw;
    line-height: 7vh;
    width: 73%;
    flex-grow: 1;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}




@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@media screen and (max-width: 500px) {
    body {
        margin: 0;
        padding: 0;
    }

    .mainBox {
        display: flex;
        width: 100%;
        height: auto;
        margin: 0;
        flex-direction: column;
    }

    .sideBar {
        background-color: #FFC89F;
        display: flex;
        flex-direction: column;
        line-height: 1vh;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 0;
        overflow: visible;

    }
    .bigEmptyDiv {
        padding-top: 30vh;
    }

    .greeting {
        padding-left: 0vw;
    }

    .downArrow {
        font-size: 7vw;
    }


    .socialIcons {
        background-color: #FFC89F;
        width: 30%;
        font-size: 2.6vh;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        justify-content: space-evenly;
        padding-top: 3vh;
        padding-left: 0.1vw;
        padding-bottom: 1vh;
    }

    .nameBox {
        display: flex;
        flex-direction: column;
        font-size: 2.6vw;
        max-width: 100%;
        background-color: #FFC89F;
        padding: 1.8vw;
        height: auto;
    }

    .indent {
        align-self: baseline;
        padding-left: 3vh;
        
    }

    .contentBox {
        width: 100%;
        font-size: 1.9vh;
        overflow-y: scroll;
    }

    .skillsBox {
        font-size: 8vw;
    }

    .innerContent {
        margin-bottom: 50vh;
    }



}

@media screen and (max-width: 300px) {
    body {
        margin: 0;
        padding: 0;
        ;
    }

    .mainBox {
        display: flex;
        width: 100%;
        height: auto;
        margin: 0vh;
        flex-direction: column;
    }

    .sideBar {
        background-color: #FFC89F;
        display: flex;
        flex-direction: column;
        line-height: 1vw;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 1vh;
        overflow: visible;

    }

    .socialIcons {
        width: 40%;
        font-size: 2.6vh;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        justify-content: space-evenly;
        padding-top: 2vh;
        padding-left: 1.1vw;
    }

    .nameBox {
        display: flex;
        flex-direction: column;
        font-size: 2.9vw;
        width: 100%;
        background-color: #FFC89F;
        padding: 1.8vw;
        height: auto;
    }

    .indent {
        align-self: baseline;
        padding-left: 3vh;
        ;
    }

    .contentBox {
        width: 100%;
        line-height: 10vh;
        font-size: 1.9vh;
        overflow-y: scroll;
    }

    .greeting {
        padding-left: -1vw;
    }

    .bigEmptyDiv {
        padding-top: 30vh;
    }

    .downArrow {
        font-size: 7vw;
    }
}

